/* Reponsive */

@media (max-width: 1480px) {
  #navbar .nav-right {
    display: flex;
    align-items: center;
    margin-left: 20%;
  }
}

@media (max-width: 1280px) {
  #navbar .nav-right {
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  #header .text-content h1 {
    font-size: 50px;
    color: white;
    line-height: 68px;
    font-weight: 600;
  }

  #header .logo .worked {
    color: white;
    font-size: 16px;
  }

  #header .logo .logo-img img {
    padding: 0;
  }

  #about .about-top h2 {
    margin-top: 16px;
    font-size: 40px;
    line-height: 58px;
  }

  #about .about-top h3 {
    margin-top: 40px;
    font-size: 30px;
  }

  #about .about-bottom .read-about {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 45% !important;
  }

  #about .about-bottom .numbers p {
    font-size: 14px;
  }

  #expertise .expertise-text p {
    width: 562px;
  }

  #expertise .expertise-text p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #5d5f6d;
    width: 86%;
  }

  #expertise .expertise-right h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    height: 28px;
  }

  #expertise .expertise-right p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
  }

  #expertise .expertise-text h2 {
    font-weight: 600;
    margin-top: 16px;
    font-size: 36px;
    line-height: 58px;
    width: 80%;
  }

  #expertise .expertise-box-item .group-icon {
    margin: 32px 23px 61px 23px;
  }

  #expertise .expertise-right {
    margin: 162px 0px 104px 0px;
    width: 100%;
  }

  #process {
    width: 100%;
  }

  #process .process-box .icon-process {
    margin: 32px 0 85px 23px;
  }

  #process .process-box .process-text {
    margin: 30px 0 28px 0;
  }

  #process .process-text h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    width: 72px;
    height: 28px;
  }

  #process .process-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 289px;
    height: 72px;
    color: #232536;
    opacity: 0.6;
  }

  #process .process-bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  #process .process-bottom .process-box.bettwen::before {
    content: none;
  }

  #process .process-bottom .process-box.bettwen::after {
    content: none;
  }

  #services .text h6 {
    margin-top: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
  }

  #services .text p {
    width: 85%;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #5d5f6d;
  }

  #testimonials .testimonials-content {
    display: block !important;
    padding-top: 96px;
    justify-content: center;
  }

  #testimonials .testimonials-content .col-lg-6 {
    max-width: 100% !important;
  }

  #testimonials .testimonials-content .testimonials-left {
    margin: 0px;
  }

  .slick-dots button {
    margin-right: 10px;
  }

  #blog .blog-content {
    padding: 131px 80px 96px 80px;
  }

  #blog .blog-box .img img {
    width: 100%;
    height: 248px;
  }

  #blog .blog-text-box {
    background: #ffffff;
    height: 248px;
    padding: 32px 32px;
  }

  #blog .blog-text-box p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #232536;

    opacity: 0.6;
  }
  #blog .blog-text-box h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
  }

  #cta .cta-content h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 54px;
  }

  #cta .cta-text-box input {
    line-height: 64px;
    height: 50px;
    margin: 141px 96px 128px;
    width: 300px;
    outline: none;
    border: none;
  }

  #footer .footer-top .grid-colums-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #popup {
    left: 200px;
  }
}

@media (max-width: 978px) {
  .nav-bars-btn {
    width: 28px;
    height: 28px;
    color: red !important;
    display: block;
    margin-left: 70%;
  }

  #navbar .nav-right {
    display: none;
  }

  .overlay-btn-bars {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.288);
    display: none;
    animation: fadeIn all 1s;
  }

  .nav-mobile {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 50px 50px;
    background-color: #232536;
    font-size: 24px;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  #navbar .nav-mobile .clone-probject {
    border: none;
    background: none;
    color: #ffd3af;
    margin-left: 16px;
  }

  #navbar .nav-mobile .nav-item {
    list-style: none;
    position: relative;
  }

  #navbar .nav-mobile .nav-item .nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: white;
  }

  #navbar .nav-mobile .nav-item.active::before {
    content: "";
    width: 48px;
    top: 0px;
    left: 15px;
    right: 10px;
    position: absolute;
    text-align: center;
    display: block;
    height: 2px;
    background-color: #ffa155 !important;
  }

  #navbar .nav-mobile .nav-item::before {
    content: "";
    width: 0px;
    top: 0px;
    left: 15px;
    right: 10px;
    position: absolute;
    display: block;
    height: 2px;
    background-color: #ffa155 !important;
    transition: all 1s;
  }

  #navbar .nav-mobile .nav-item:hover::before {
    width: 48px;
  }

  .nav-close-menuz {
    width: 24px;
    height: 24px;
    color: white !important;
    position: absolute;
    right: 50px;
    top: 50px;
  }

  #nav-mobileinput:checked ~ .overlay-btn-bars {
    display: block;
  }

  #nav-mobileinput:checked ~ .nav-mobile {
    transform: translateY(0);
    opacity: 1;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  #header .text-content {
    margin-bottom: 85px;
  }

  #header .logo {
    padding-bottom: 42px;
  }

  #about .about-bottom .read-about {
    margin-top: 40px;
    margin-left: 76% !important;
  }

  #expertise .expertise-text {
    margin-bottom: 96px;
  }

  #expertise .expertise-right {
    margin: 0px 0px 104px 00px;
    width: 100%;
  }

  #expertise .expertise-box-item .group-icon {
    margin: 32px 0 0px 32px;
  }

  #expertise .expertise-box-item .group-icon img {
    width: 65px;
    height: 65px;
  }

  #expertise .expertise-right h6 {
    font-weight: 600;
    font-size: 22px;
  }

  #expertise .expertise-right p {
    font-weight: 500;
    font-size: 16px;
    width: 100% !important;
  }

  #expertise .expertise-box-item .group-text {
    width: 100% !important;
  }

  #services .service-bottom .service-item {
    margin-bottom: 60px;
  }

  #services .service-bottom .item img {
    width: 60px;
    height: 60px;
  }

  #services .text h6 {
    font-size: 20px;
  }

  #services .text p {
    font-size: 16px;
  }

  #process .process-box .icon-process {
    margin: 32px 0 0px 32px;
  }

  #process .process-box .process-text {
    margin: 20px 0 32px 32px;
  }

  #blog .blog-content .blog-grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    padding-top: 40px;
  }

  #cta .cta-text-box input {
    margin: 10px 0px 40px 96px;
    width: 400px;
  }
  #cta .cta-content {
    margin: 96px 0 20px 96px;
    color: white;
  }

  #footer .contact {
    margin-left: 60%;
    margin-top: 40px;
  }
}

@media (max-width: 756px) {
  #process .process-bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  #process .process-text h6 {
    width: 100%;
    font-size: 22px;
  }

  #process .process-text p {
    width: 100%;
    font-size: 20px;
  }

  #footer .contact {
    margin-left: 0%;
    margin-top: 40px;
  }
  .nav-bars-btn {
    margin-left: 0;
  }
}

@media (max-width: 466px) {
  .nav-bars-btn {
    margin-left: 0;
  }

  #header .text-content h1 {
    font-size: 30px;
    color: white;
    line-height: 48px;
    font-weight: 600;
  }

  #header .logo {
    display: block;
  }

  #header .logo .ourclients {
    color: #ffffff;
    opacity: 0.6;
    font-size: 12px;
  }

  #header .logo .worked {
    color: white;
    font-size: 12px;
  }

  #about .about-top .caption-about {
    font-weight: 500;
    font-size: 12px;
  }

  #about .about-top h2 {
    font-size: 30px;
    line-height: 36px;
  }

  #about .about-top h3 {
    margin-top: 43px;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
  }

  #about .about-bottom .img-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }

  #about .about-bottom .read-about {
    margin-left: 0% !important;
  }

  #expertise .expertise-text h2 {
    font-weight: 600;
    margin-top: 16px;
    font-size: 24px;
    line-height: 38px;
    width: 100%;
  }

  #expertise .expertise-text p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5d5f6d;
    width: 100%;
  }

  #expertise .expertise-box-item {
    height: 100%;
  }

  #expertise .expertise-box-item .group-icon img {
    width: 40px;
    height: 40px;
  }

  #expertise .expertise-right h6 {
    font-weight: 600;
    font-size: 18px;
  }

  #expertise .expertise-right p {
    font-size: 14px;
  }

  #expertise .expertise-box-item .group-text {
    padding: 12px 12px 40px 18px;
  }

  #services .service-top h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin-top: 12px;
    width: 100%;
    height: 100%;
  }

  #services .service-bottom .row {
    row-gap: 20px;
  }

  #services .service-bottom .service-item {
    height: 100%;
    background: #ffffff;
  }

  #services .text p {
    height: 100%;
  }

  #process .process-top h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    width: 100%;
    height: 100%;
    margin-top: 16px;
  }

  #process .process-top p {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    margin-top: 16px;
    opacity: 0.87;
  }

  #process .process-box .process-text {
    padding: 20px 10px 32px 32px;
    margin: 0;
  }

  #process .process-text p {
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
  }

  #testimonials .testimonials-text h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    width: 100%;
  }

  #testimonials .testimonials-text .text-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    margin-top: 16px;
    width: 100%;
    opacity: 0.87;
  }

  #testimonials .testimonials-right h4 {
    color: #232536;
    padding: 48px 12px 20px 40px;
    opacity: 0.87;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #testimonials .testimonials-right .logo {
    display: none;
  }

  .slick-dots {
    left: 35%;
    bottom: 14%;
  }

  #blog .blog-text h2 {
    font-weight: 620;
    font-size: 30px;
    line-height: 38px;
    color: #232536;
    height: 100%;
    width: 100%;
    margin-bottom: 24px;
  }

  #blog .blog-content {
    padding: 96px 0;
  }

  #cta .cta-content h3 {
    font-style: normal;
    font-weight: 600;
    width: 250px;
    font-size: 16px;
    line-height: 34px;
  }

  #cta .cta-text-box input {
    margin: 10px 0px 40px 96px;
    /* width: 400px; */
    width: 200px;
    font-size: 16px;
  }

  #footer .footer-content h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 20px;
  }

  #footer .footer-bottom .logo-footer {
    display: block;
    padding-top: 10px;
  }

  #services-main #header .header-content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 96px;
    row-gap: 20px;
  }

  #services-main #header .header-content h2 {
    font-size: 30px !important;
    line-height: 34px !important;
  }

  #services-main #header .header-right {
    padding: 0 !important;
  }

  #process-services .process-top h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    width: 100%;
    height: 100%;
    margin-top: 16px;
  }

  #process-services .process-top p {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    margin-top: 16px;
    opacity: 0.87;
  }

  #process-services .process-box .process-text {
    padding: 20px 12px 12px 12px !important;
  }

  #process-services .process-text h6 {
    width: 100% !important;
    font-size: 18px !important;
  }

  #process-services .process-text p {
    width: 100% !important;
    font-size: 16px !important;
  }

  #features-services .features-right h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
    opacity: 0.87;
  }

  #features-services .features-right .features-content {
    width: 100% !important;
  }

  #features-services .features-right h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    color: #232536;

    width: 60% !important;

    font-style: normal;
  }

  #about-company .about-top h2 {
    margin-top: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    width: 100% !important;
  }

  #about-company .about-top p {
    width: 100% !important;
  }

  #about-company .about-bottom .img-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }

  #story .story-left h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    width: 100% !important;
    margin-top: 16px;
  }

  #story .story-number {
    background: rgba(255, 211, 175, 0.57);
    padding: 0px 0px 80px 30px;
  }

  #vision .vision-top h3 {
    width: 100% !important;
    font-style: normal;
    font-weight: 600;
    font-size: 28px !important;
    line-height: 34px !important;
    margin-top: 16px;
  }

  #vision .vision-top p {
    width: 100% !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    margin-top: 24px;
    margin-bottom: 64px;
    opacity: 0.6;
  }

  #team .team-top h2 {
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin-top: 16px;
  }

  #team .team-top p {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    opacity: 0.87;
    margin-top: 24px;
    margin-bottom: 64px;
  }

  #team .team-bottom .item-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #header-cereer .header-text h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin-top: 16px;
    color: #232536;
  }

  #header-cereer .shapes {
    position: absolute;
    top: -20px;
    right: -20px;
  }

  #careers .careers-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  #services-cereers .service-top h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin-top: 12px;
    width: 100% !important;
  }

  #services-cereers .service-top p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
    width: 100% !important;
    margin-top: 32px;
  }

  #blog-header-page .blog-header-left h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    width: 100%;
    margin-top: 24px;
  }

  #blog-header-page .blog-header-right {
    width: 100% !important;
    padding: 22px;
    height: 100%;
  }

  #blog-header-page .blog-header-right h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    width: 100%;
  }

  #recent .recent-container h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }

  #recent .lisst-card-recent .card-recent {
    position: relative;
  }

  #recent .card-recent .text-card {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 16px;
    color: white;
    background-color: #0000003d;
  }

  #header-contact .contact-left .contact-from h2 {
    width: 80% !important;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin-top: 24px;
  }

  #header-contact .contact-left .contact-from .text-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    opacity: 0.87;
    margin-top: 24px;
    margin-bottom: 65px;
    width: 60%;
    height: 100%;
  }

  #header-contact .contact-from .from-input {
    width: 100% !important;
  }

  #header-contact .contact-right .contact-content {
    padding: 83px 32px 128px 32px;
  }
}

/* services */

@media (max-width: 1280px) {
  #services-main #header .header-content {
    column-gap: 40px;
  }

  #services-main #header .header-right {
    padding: 66px 0 0 100px;
  }

  #services-main #header .header-left h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    margin-top: 6px;
  }

  #process-services {
    width: 100%;
  }

  #process-services .process-box .icon-process {
    margin: 32px 0 85px 23px;
  }

  #process-services .process-box .process-text {
    margin: 30px 0 28px 0;
  }

  #process-services .process-text h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    width: 72px;
    height: 28px;
  }

  #process-services .process-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 289px;
    height: 72px;
    color: #232536;
    opacity: 0.6;
  }

  #process-services .process-bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  #process-services .process-bottom .process-box.bettwen::before {
    content: none;
  }

  #process-services .process-bottom .process-box.bettwen::after {
    content: none;
  }
}

@media (max-width: 1160px) {
  #features-services .features-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
}

@media (max-width: 978px) {
  #process-services .process-box .icon-process {
    margin: 32px 0 0px 32px;
  }

  #process-services .process-box .process-text {
    margin: 20px 0 32px 32px;
  }
}

@media (max-width: 756px) {
  #process-services .process-bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  #features-services .features-container {
    max-width: 756px;
    width: 100%;
    margin: 0 auto;
  }

  #process-services .process-text h6 {
    width: 100%;
    font-size: 22px;
  }

  #process-services .process-text p {
    width: 100%;
    font-size: 20px;
  }
}

/* company */

@media (max-width: 1280px) {
  #about-company .about-top h2 {
    width: 60%;
  }

  #about-company .about-top p {
    width: 60%;
  }
}

@media (max-width: 1160px) {
  #about-company .about-top h3 {
    font-size: 30px;
    line-height: 54px;
  }

  #story .story-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }

  #vision .vision-top h3 {
    width: 80%;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    margin-top: 16px;
  }

  #vision .vision-top p {
    width: 65%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    margin-top: 24px;
    margin-bottom: 64px;
    opacity: 0.6;
  }

  #team .team-bottom .overlay {
    padding: 40% 0px 10% 10%;
  }

  #team .overlay h4 a {
    font-size: 20px;
    line-height: 26px;
  }

  #team .overlay p {
    font-size: 14px;
    line-height: 14px;
  }

  #careers .card-content p {
    font-size: 14px;
    line-height: 24px;
  }

  #careers .careers-list .card-content {
    background: #ffffff;
    padding: 48px 0 30px 24px;
  }

  #services-cereers .service-top h2 {
    width: 70%;
  }

  #services-cereers .service-top p {
    width: 60%;
  }

  #services-cereers .text h6 {
    margin-top: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
  }

  #services-cereers .text p {
    width: 85%;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #5d5f6d;
  }
}

@media (max-width: 992px) {
  #services-cereers .service-bottom .service-item {
    margin-bottom: 60px;
  }

  #services-cereers .service-bottom .item img {
    width: 60px;
    height: 60px;
  }

  #services-cereers .text h6 {
    font-size: 20px;
  }

  #services-cereers .text p {
    font-size: 16px;
  }
}

@media (max-width: 978px) {
  #header-cereer .header-text {
    width: 80%;
    margin: 0 auto;
  }

  #careers .careers-list {
    grid-template-columns: repeat(2, 1fr);
  }

  #careers .careers-list .card-content {
    background: #ffffff;
    padding: 48px 12px 30px 48px;
  }

  #team .team-bottom .overlay {
    padding: 30% 0px 10% 10%;
  }

  #team .overlay h4 a {
    font-size: 16px;
    line-height: 26px;
  }

  #team .overlay p {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 756px) {
  #team .team-bottom .overlay {
    padding: 20% 0px 10% 10%;
  }

  #team .overlay h4 a {
    font-size: 14px;
    line-height: 26px;
  }

  #team .overlay p {
    font-size: 12px;
    line-height: 14px;
  }

  #careers .card-content h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
  }

  #careers .card-content p {
    font-size: 14px;
    line-height: 24px;
  }

  #careers .careers-list .card-content {
    background: #ffffff;
    padding: 48px 12px 30px 22px;
  }
}

/* blog */
@media (max-width: 1280px) {
  #blog-header-page .blog-header-container {
    column-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }

  #blog-header-page .blog-header-right {
    width: 70%;
  }

  #blog-header-page .blog-header-left .img-blog img {
    width: 100%;
  }

  #blog-header-page .blog-header-right h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    width: 100%;
  }

  #all .all-container .list-card-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 64px;
  }
}

@media (max-width: 1160px) {
  #recent .lisst-card-recent {
    grid-template-columns: repeat(1, 1fr);
  }

  #recent .card-recent .img-card {
    width: 45%;
    height: 100%;
    overflow: hidden;
  }

  #recent .card-recent .text-card h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
  }

  #recent .card-recent .text-person .card-name {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  #recent .card-recent .text-person .card-date {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 756px) {
  #recent .card-recent .img-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #all .all-container .list-card-all {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin-top: 64px;
  }
}

/* contact */
@media (max-width: 1280px) {
  #header-contact .header-contact-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 96px;
  }

  #header-contact .contact-right {
    margin-left: 0;
    width: 50%;
  }
}

@media (max-width: 978px) {
  #header-contact .contact-right {
    width: 100%;
  }
}

/* career-inner */

@media (max-width: 978px) {
  #header-inner .header-inner-right {
    padding: 80px 24px 0 24px;
  }

  #details .nav-tabs .nav-link {
    padding: 0 20px 0 0 !important;
    font-size: 22px;
    text-align: left !important;
  }

  #details .nav-tabs .nav-link.active::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #454dfd;
    position: absolute;
    bottom: -70%;
    left: 0%;
  }
}

/* blog-inner */
@media (max-width: 1160px) {
  #blog-inner-header .blog-inner-header-top h2 {
    width: 80%;
  }

  #blog-inner-header .blog-inner-header-top p {
    width: 65%;
  }
}

@media (max-width: 756px) {
  #blog-inner-header .blog-inner-header-top h2 {
    width: 95%;
  }

  #blog-inner-header .blog-inner-header-top p {
    width: 80%;
  }
}

/* privacy */

@media (max-width: 1160px) {
  #privacy-content .privacy-text {
    padding: 96px 100px;
  }

  #privacy-content .privacy-text {
    padding: 96px 100px;
  }
}
